ion-card-img {
    width: 10%; /* Asegúrate de que la imagen ocupe el espacio disponible */
    height: 10%;
  }
  ion-card{
    margin: 10px; /* Ajusta el espacio entre las tarjetas */
    background-color: white; /* Cambia el color de fondo de las tarjetas */
    border-radius: 10px; /* Ajusta el radio de curvatura de las tarjetas */
    width:350px;
    height: 350px;
    font-family: Arial, Helvetica, sans-serif;
  }

  ion-content {
    --background: #f0f0f0; /* Cambia el color de fondo */
  }
  ion-header{
    --background: white !important; /* Cambia el color de fondo del header */
    text-align: center; /* Centra el texto en el header */
    width: auto;
    background-color: white !important; /* Cambia el color de fondo del header */
  }