<ion-card-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="12" size-md="6" size-lg="4" size-xl="3" *ngFor="let conf of Conferencias">
        <ion-card>
          <img class="imagen" alt="" src="{{conf.imgconf}}" />
          <ion-card-header>
            <ion-card-title class="titulo">{{conf.titulo}}</ion-card-title>
            <ion-button color="success"expand="block" fill="clear" shape="round" (click)="verDetallesEvento(conf.idconf)">
              Ver detalles
            </ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card-content>



