#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-button{
  display: flex;               // Usamos flexbox para centrar los elementos
  flex-direction: column;      // Aseguramos que los botones estén en una columna
  align-items: center;         // Centra los elementos horizontalmente
  justify-content: center;     // Centra los elementos verticalmente si es necesario
  height: auto;               // Hace que el contenedor ocupe toda la altura de la ventana
    --background: #cd5151;    // Color de fondo
    --color: rgb(0, 0, 0);           // Color del texto
    --border-radius: 12px;    // Radio de bordes
    --padding: 12px 24px;     // Relleno del botón
    margin-bottom: 100px;
  }
  .inicio{
    background-color: white;
    background: white;
  }
  ion-content {
    --background: #f0f0f0; /* Cambia el color de fondo */
  }
  